<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Tohora</title>
</head>
<body>
    <div class="container mt-3">
        <p class='{{ if eq .Subprocess.Parameter "" }}d-none{{ end }}'>Currently showing: <code>{{ .Subprocess.Parameter }}</code></p>
        <form method='POST' action='/launch/'>
            <div class="form-group">
                <input class="form-control" autofocus="autofocus" placeholder="Enter URL" id="url" name="url" type="url" value="{{ .Subprocess.Parameter }}" />
                <small class="form-text text-muted">Include 'http' or 'https'</small>
            </div>
            
            <button class="btn btn-primary" type='submit'>Show URL</button>
            &nbsp;or&nbsp;
            <button class="btn btn-secondary" name='clear' value='1' type='submit'>Clear screen</button>
        </form>

        {{ if len .Subprocess.History }}
        <p class="mt-3">Recent (click to show again):</p>
        <ul>{{ range .Subprocess.History }}
            {{ if . }}
            <li><a class="autofill" href="{{ . }}"><code>{{ . }}</code></a></li>
            {{ end }}
            {{ end }}
        </ul>
        {{ end }}
        <footer class="mt-5">
            <p class="text-right"><small>For questions, bugs and suggestions, please use <a href="https://github.com/mozz100/tohora/issues">Github</a>.</small></p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('.autofill').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $("#url").val(href);
                $("form").submit();
            })
        });
    </script>
</body>
</html>